<template>
  <div class="submit-form">
    <h1>Add Product</h1>
    <div v-if="!submitted">
      <div class="form-group">
        <label for="product_name">product name</label>
        <input
          type="text"
          class="form-control"
          id="product_name"
          required
          v-model="inventory.product_name"
          name="product_name"
        />
      </div>
      <div class="form-group">
        <label for="sku">sku</label>
        <input
          class="form-control"
          id="sku"
          required
          v-model="inventory.sku"
          name="sku"
        />
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <input
          class="form-control"
          id="description"
          required
          v-model="inventory.description"
          name="description"
        />
      </div>
      <div class="form-group">
        <label for="category">category</label>
        <input
          class="form-control"
          id="category"
          required
          v-model="inventory.category"
          name="category"
        />
      </div>
      <div class="form-group">
        <label for="cost">cost</label>
        <input
          class="form-control"
          id="cost"
          required
          v-model="inventory.cost"
          name="cost"
        />
      </div>
      <div class="form-group">
        <label for="price">selling price</label>
        <input
          class="form-control"
          id="price"
          required
          v-model="inventory.price"
          name="price"
        />
      </div>
      <div class="form-group">
        <label for="tags">tags</label>
        <input
          class="form-control"
          id="tags"
          required
          v-model="inventory.tags"
          name="tags"
        />
      </div>
      <button @click="saveInventory" class="btn btn-success">Submit</button>
    </div>

    <div v-else>
      <h4>You submitted successfully!</h4>
      <button class="btn btn-success" @click="newInventory">Add</button>
    </div>
  </div>
</template>

<script>
import InventoryDataService from "../services/inventoryServices";

export default {
  name: "add-inventory",
  data() {
    return {
      inventory: {
        id: null,
        name: "",
        sku: "",
        description: "",
        category: "",
        cost: 0,
        selling_price: 0,
        tags: "",
      },
      submitted: false
    };
  },
  methods: {
    saveInventory() {
      var data = {
        product_name: this.inventory.product_name,
        sku: this.inventory.sku,
        description: this.inventory.description,
        category: this.inventory.category,
        cost: this.inventory.cost,
        selling_price: this.inventory.selling_price,
        tags: this.inventory.tags,
      };

      InventoryDataService.create(data)
        .then(response => {
          this.inventory.id = response.data.id;
          console.log(response.data);
          this.submitted = true;
        })
        .catch(e => {
          console.log(e);
        });
    },
    
    newInventory() {
      this.submitted = false;
      this.inventory = {};
    }
  }
};
</script>

<style>
.submit-form {
  max-width: 300px;
  margin: auto;
}
</style>
