
<template>
    <div class="col-md-12">
     <b-container fluid>
     <!-- User Interface controls -->
     <b-row>
       <b-col lg="6" class="my-1">
         <b-form-group
           label-for="sort-by-select"
           label-cols-sm="3"
           label-align-sm="right"
           label-size="sm"
           class="mb-0"
           v-slot="{ ariaDescribedby }"
         >
           <b-input-group size="sm">
             <b-form-select
               id="sort-by-select"
               v-model="sortBy"
               :aria-describedby="ariaDescribedby"
               class="w-75"
             >
               <template #first>
                 <option value="">-- none --</option>
               </template>
             </b-form-select>
           </b-input-group>
         </b-form-group>
       </b-col>
 
 
       <b-col lg="6" class="my-1">
         <b-form-group
           label="Filter"
           label-for="filter-input"
           label-cols-sm="3"
           label-align-sm="right"
           label-size="sm"
           class="mb-0"
         >
           <b-input-group size="sm">
             <b-form-input
               id="filter-input"
               v-model="filter"
               type="search"
               placeholder="Type to Search"
             ></b-form-input>
 
             <b-input-group-append>
               <b-button :disabled="!filter" @click="filter = ''">Clear</b-button>
             </b-input-group-append>
           </b-input-group>
         </b-form-group>
       </b-col>
 
 
       <b-col sm="5" md="5" class="my-1">
         <b-form-group
           label="Per page"
           label-for="per-page-select"
           label-cols-sm="6"
           label-cols-md="4"
           label-cols-lg="3"
           label-align-sm="right"
           label-size="sm"
           class="mb-0"
         >
           <b-form-select
             id="per-page-select"
             v-model="perPage"
             :options="pageOptions"
             size="sm"
           ></b-form-select>
         </b-form-group>
       </b-col>
 
       <b-col sm="5" md="5" class="my-1">
         <b-pagination
           v-model="currentPage"
           :total-rows="totalRows"
           :per-page="perPage"
           align="fill"
           size="sm"
           class="my-0"
         ></b-pagination>
       </b-col>
      <b-col lg="2" class="my-1">
        <b-button v-b-modal.addModal class="btn btn-success">Add Category</b-button>
      </b-col>
     </b-row>
 
     <!-- Main table element -->
     <b-table
       :items="CategoryItems"
       :fields="fields"
       :current-page="currentPage"
       :per-page="perPage"
       :filter="filter"
       :filter-included-fields="filterOn"
       stacked="md"
       show-empty
       small
       @filtered="onFiltered"
     >
       <template #cell(name)="row">
         {{ row.value.first }} {{ row.value.last }}
       </template>
 
       <template #cell(actions)="row">
         <b-button size="sm" @click="info(row.item, row.index, $event.target)" class="mr-1">
           Info
         </b-button>
       </template>
 
       <template #row-details="row">
         <b-card>
           <ul>
             <li v-for="(value, key) in row.item" :key="key">{{ key }}: {{ value }}</li>
           </ul>
         </b-card>
       </template>
     </b-table>
 
     <!-- Info modal -->
     <b-modal :id="infoModal.id" :title="infoModal.title" @hide="resetInfoModal">
 
       <div v-if="currentCategory" class="edit-form">
     <h4>Category</h4>
     <form>
       <div class="form-group">
         <label for="title">Name</label>
         <input type="text" class="form-control" id="product_name"
           v-model="currentCategory.category_name"
         />
       </div>
       <div class="form-group">
         <label for="description">Created By</label>
         <input type="text" class="form-control" id="skuedit"
           v-model="currentCategory.createdBy"
         />
       </div>
 
       <div class="form-group">
         <label for="description">Created Date</label>
         <input type="text" class="form-control" id="createdDate"
           v-model="currentCategory.createdDate" readonly
         />
       </div>
     </form>
     <p>{{ message }}</p>
   </div>
     <template #modal-footer>
     <b-button class="btn  btn-danger"
       @click="deleteCategory"
     >
       Delete
     </b-button>
 
     <b-button type="submit" class="btn btn-success"
       @click="updateCategory"
     >
       Update
     </b-button>
     </template>
     </b-modal>
   </b-container>
   
  <!-- Info modal -->
  <b-modal id="addModal" title="Add Category" @hide="resetInfoModal">
    <div class="submit-form">
    <div v-if="!submitted">
      <div class="form-group">
        <label for="product_name">category name</label>
        <input
          type="text"
          class="form-control"
          id="product_name"
          required
          v-model="addCategory.category_name"
          name="product_name"
        />
      </div>
      <div class="form-group">
        <label for="sku">Created By</label>
        <input
          class="form-control"
          id="sku"
          required
          v-model="addCategory.createdBy"
          name="sku"
        />
      </div>
    </div>

    <!-- <div v-else>
      <h4>You submitted successfully!</h4>
      <button @click="saveCategory" class="btn btn-success">Submit</button>
    </div> -->
    <b-alert v-model="isError" variant="danger" dismissible>
      Error Check fields!
    </b-alert>
    <b-alert v-model="isExist" variant="danger" dismissible>
      Category Already Exist!
    </b-alert>
    </div>
    <template #modal-footer>
    <b-button type="submit" class="btn btn-success"
      @click="saveCategory"
    >
      Save
    </b-button>
    </template>
    </b-modal>
   </div>
 </template>
 
 <script>
 import InventoryDataService from "../services/inventoryServices";
 export default {
   name: "CategoryList",
   data() {
     return {
      addCategory:{
        Id: null,
        category_name: "",
        createdBy: "",
        createdDate: "",
      },
      isError: false,
      isExist: false,
       CategoryItems: [],
       CategoryOptions: [],
       currentCategory: null,
       currentIndex: -1,
       title: "",
       totalRows: 1,
       currentPage: 1,
       perPage: 5,
       fields: [
           { key: 'category_name', sortable: true },
           { key: 'createdBy', sortable: true },
           { key: 'actions', label: 'Actions' }
         ],
       pageOptions: [5, 10, 15, { value: 100, text: "Show a lot" }],
       sortBy: '',
       sortDesc: false,
       sortDirection: 'asc',
       filter: null,
       filterOn: [],
       infoModal: {
         id: 'info-modal',
         title: '',
         content: ''
       }
     }
   },
   methods: {
     info(item, index, button) {
       this.currentCategory = item;
         this.infoModal.title = `Info`
         this.infoModal.content = JSON.stringify(item, null, 2)
         this.$root.$emit('bv::show::modal', this.infoModal.id, button)
       },
        currentDate() {
          const current = new Date();
          const date = `${current.getMonth()+1}-${current.getDate()}-${current.getFullYear()}`;
          return date;
        },
       resetInfoModal() {
       this.currentCategory = '';
         this.infoModal.title = ''
         this.infoModal.content = ''
       },
       onFiltered(filteredItems) {
         // Trigger pagination to update the number of buttons/pages due to filtering
         this.totalRows = filteredItems.length
         this.currentPage = 1
       },
     retrieveInventory() {
       InventoryDataService.getAllCategory()
         .then(response => {
           this.CategoryItems = response.data;
           this.CategoryItems.forEach((value, index) => {
            console.log(index)
              this.CategoryOptions.push(value.category_name);
          });
           console.log(response.data);
         })
         .catch(e => {
           console.log(e);
         });
     },
     saveCategory() {
      var check = this.CategoryOptions.includes(this.addCategory.category_name);
      if(this.addCategory.category_name == ''){
        this.isError = true;
      }
      if(check){
        this.isExist = true;
      }else{
        this.isExist = false;
      var data = {
        id:"",
        category_name: this.addCategory.category_name,
        createdBy: this.addCategory.createdBy,
        createdDate: this.currentDate(),
      };
      InventoryDataService.createCategory(data)
        .then(response => {
          console.log(response.data);
          this.message = 'The product was updated successfully!';
          this.refreshList();
        })
        .catch(e => {
          console.log(e);
        });
      }
    },
     refreshList() {
       this.retrieveInventory();
       this.currentCategory = null;
       this.currentIndex = -1;
       this.$root.$emit('bv::hide::modal','addModal');
         this.$root.$emit('bv::hide::modal', 'info-modal')
     },
    
     updateCategory() {
      //  var data = {
      //    name: this.currentCategory.name,
      //    createdBy: this.currentCategory.createdBy,
      //    createdDate: this.currentCategory.createdDate,
      //  };
       InventoryDataService.updateCategory(this.currentCategory.id, this.currentCategory)
         .then(response => {
           console.log(response.data);
           this.message = 'The product was updated successfully!';
           this.refreshList();
         })
         .catch(e => {
           console.log(e);
         });
     },
     deleteCategory() {
       InventoryDataService.deleteCategory(this.currentCategory.id)
         .then(response => {
           console.log(response.data);
           this.refreshList();
         })
         .catch(e => {
           console.log(e);
         });
     }
   },
   mounted() {
     this.retrieveInventory();
   }
 };
 </script>
 
 <style>
 .list {
   text-align: left;
   max-width: 750px;
   margin: auto;
 }
 </style>