
<template>
   <div class="col-md-12">
    <b-container fluid>
    <!-- User Interface controls -->
    <b-row>
      <!-- <b-col lg="12" class="my-1">
        <b-form-group
          label="Sort"
          label-for="sort-by-select"
          label-cols-sm="3"
          label-align-sm="right"
          label-size="sm"
          class="mb-0"
          v-slot="{ ariaDescribedby }"
        >
          <b-input-group size="sm">
            <b-form-select
              id="sort-by-select"
              v-model="sortBy"
              :options="sortOptions"
              :aria-describedby="ariaDescribedby"
              class="w-75"
            >
              <template #first>
                <option value="">-- none --</option>
              </template>
            </b-form-select>

            <b-form-select
              v-model="sortDesc"
              :disabled="!sortBy"
              :aria-describedby="ariaDescribedby"
              size="sm"
              class="w-25"
            >
              <option :value="false">Asc</option>
              <option :value="true">Desc</option>
            </b-form-select>
          </b-input-group>
        </b-form-group>
      </b-col> -->

      <b-col lg="5" class="my-1">
        <!-- <b-form-group
          label="Category"
          label-for="initial-sort-select"
          label-cols-sm="3"
          label-align-sm="right"
          label-size="sm"
          class="mb-0"
        >
          <b-form-select
            id="initial-sort-select"
            v-model="sortDirection"
            :options="['asc', 'desc', 'last']"
            size="sm"
          ></b-form-select>
        </b-form-group> -->
      </b-col>

      <b-col lg="5" class="my-1">
        <b-form-group
          label="Filter"
          label-for="filter-input"
          label-cols-sm="3"
          label-align-sm="right"
          label-size="sm"
          class="mb-0"
        >
          <b-input-group size="sm">
            <b-form-input
              id="filter-input"
              v-model="filter"
              type="search"
              placeholder="Type to Search"
            ></b-form-input>

            <b-input-group-append>
              <b-button :disabled="!filter" @click="filter = ''">Clear</b-button>
            </b-input-group-append>
          </b-input-group>
        </b-form-group>
      </b-col>
      <b-col lg="2" class="my-1">
        
        <b-button v-b-modal.addModal class="btn btn-success" @click="addProductModal">Add Product</b-button>
      </b-col>

      <b-col sm="5" md="6" lg="6" class="my-1">
        <b-form-group
          label="Per page"
          label-for="per-page-select"
          label-cols-sm="6"
          label-cols-md="4"
          label-cols-lg="3"
          label-align-sm="right"
          label-size="sm"
          class="mb-0"
        >
          <b-form-select
            id="per-page-select"
            v-model="perPage"
            :options="pageOptions"
            size="sm"
          ></b-form-select>
        </b-form-group>
      </b-col>

      <b-col sm="7" md="6" lg="6" class="my-1">
        <b-pagination
          v-model="currentPage"
          :total-rows="totalRows"
          :per-page="perPage"
          align="fill"
          size="sm"
          class="my-0"
        ></b-pagination>
      </b-col>
    </b-row>

    <!-- Main table element -->
    <b-table
      :items="Inventory"
      :fields="fields"
      :current-page="currentPage"
      :per-page="perPage"
      :filter="filter"
      :filter-included-fields="filterOn"
      :sort-by.sync="sortBy"
      :sort-desc.sync="sortDesc"
      stacked="md"
      show-empty
      small
      @filtered="onFiltered"
    >
      <template #cell(name)="row">
        {{ row.value.first }} {{ row.value.last }}
      </template>

      <template #cell(actions)="row">
        <b-button size="sm" @click="info(row.item, row.index, $event.target)" class="mr-1">
          Info
        </b-button>
      </template>

      <template #row-details="row">
        <b-card>
          <ul>
            <li v-for="(value, key) in row.item" :key="key">{{ key }}: {{ value }}</li>
          </ul>
        </b-card>
      </template>
    </b-table>

    <!-- Info modal -->
    <b-modal :id="infoModal.id" :title="infoModal.title" @hide="resetInfoModal">

    <div v-if="currentInventory" class="edit-form">
    <h4>Product</h4>
    <form>
      <div class="form-group">
        <label for="title">Name</label>
        <input type="text" class="form-control" id="product_name"
          v-model="currentInventory.product_name"
        />
      </div>
      <div class="form-group">
        <label for="description">SKU</label>
        <input type="text" class="form-control" id="sku"
          v-model="currentInventory.sku"
        />
      </div>

      <div class="form-group">
        <label for="description">Description</label>
        <input type="text" class="form-control" id="description"
          v-model="currentInventory.description"
        />
      </div>
      <div class="form-group">
        <label for="description">category</label>
        <b-form-select
            id="category"
            v-model="currentInventory.category"
            :options="CategoryOptions"
            size="sm"
            v-on:change="checkCategory"
          ></b-form-select>
        <!-- <input type="text" class="form-control" id="category"
          v-model="currentInventory.category"
        /> -->
      </div>
      <div class="form-group">
        <label for="cost">Cost</label>
        <input type="text" class="form-control" id="cost"
          v-model="currentInventory.cost"
        />
      </div>
      <div class="form-group">
        <label for="selling_price">Selling Price</label>
        <input type="text" class="form-control" id="selling_price"
          v-model="currentInventory.selling_price"
        />
      </div>
      <div class="form-group">
        <label for="tags">Tags</label>

        
        <div class="section column">
            <label>Tags</label>
            <div class="tags_input_container">
                <input id="" placeholder="e.g. Interior Design" name="tagsInput" v-model="addTagInput">
                <button id="ss_service_edit-add_tags" v-on:click="editaddTags"></button>
            </div>
            
        <input type="text" class="form-control hidden" id="tags"
          v-model="currentInventory.tags"
        />

        <div id="ss_service_edit-tags_container" class="tags editable">
            
        </div>
        </div>
      </div>
    </form>
    <p>{{ message }}</p>
  </div>
    <template #modal-footer>
    <b-button class="btn  btn-danger"
      @click="deleteTutorial"
    >
      Delete
    </b-button>

    <b-button type="submit" class="btn btn-success"
      @click="updateTutorial"
    >
      Update
    </b-button>
    </template>
    </b-modal>
  </b-container>
  <!-- Add Modal -->
  <!-- Info modal -->
  <b-modal id="addModal" title="Add Product" @hide="resetInfoModal">

    <div class="submit-form">
    <div v-if="!submitted">
      <div class="form-group">
        <label for="product_name">product name</label>
        <input
          type="text"
          class="form-control"
          id="product_name"
          required
          v-model="addInventory.product_name"
          name="product_name"
        />
      </div>
      <div class="form-group">
        <label for="sku">sku</label>
        <input
          class="form-control"
          id="sku"
          required
          v-model="addInventory.sku"
          name="sku"
        />
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <input
          class="form-control"
          id="description"
          required
          v-model="addInventory.description"
          name="description"
        />
      </div>
      <div class="form-group">
        <label for="category">category</label>
        <b-form-select
            id="category"
            v-model="addInventory.category"
            :options="CategoryOptions"
            size="sm"
            v-on:change="checkCategoryAdd"
          ></b-form-select>
      </div>
      <div class="form-group">
        <label for="cost">cost</label>
        <input
          class="form-control"
          id="cost"
          required
          v-model="addInventory.cost"
          name="cost"
        />
      </div>
      <div class="form-group">
        <label for="price">selling price</label>
        <input
          class="form-control"
          id="price"
          required
          v-model="addInventory.selling_price"
          name="price"
        />
      </div>
      <div class="form-group">
        <!-- <label for="tags">tags</label> -->
        <!-- <input
          class="form-control"
          id="tags"
          required
          v-model="addInventory.tags"
          name="tags"
        /> -->
        <div class="section column">
            <label>Tags</label>
            <div class="tags_input_container">
                <input id="" placeholder="e.g. Interior Design" name="tagsInput" v-model="addTagInput">
                <button id="ss_service_add-add_tags" v-on:click="addTags"></button>
            </div>
        <input id="tagsArr" placeholder="e.g. Interior Design" name="tags" class="hidden" value=" " v-model="addInventory.tags">
        </div>

        <div id="ss_service_add-tags_container" class="tags editable">
            
        </div>

      </div>
    </div>

    <div v-else>
      <h4>You submitted successfully!</h4>
      <button @click="saveInventory" class="btn btn-success">Submit</button>
    </div>
    <p>{{ message }}</p>
    </div>
    <template #modal-footer>
    <b-button type="submit" class="btn btn-success"
      @click="saveInventory"
    >
      Save
    </b-button>
    </template>
    </b-modal>
<!-- End Add Inventory Modal -->
<!-- Add Category modal -->
<b-modal id="addCategoryModal" title="Add Category">
    <div class="submit-form">
    <div v-if="!submitted">
      <div class="form-group">
        <label for="product_name">category name</label>
        <input
          type="text"
          class="form-control"
          id="product_name"
          required
          v-model="addCategory.category_name"
          name="product_name"
        />
      </div>
      <div class="form-group">
        <label for="sku">Created By</label>
        <input
          class="form-control"
          id="sku"
          required
          v-model="addCategory.createdBy"
          name="sku"
        />
      </div>
    </div>

    <b-alert v-model="isError" variant="danger" dismissible>
      Error Check fields!
    </b-alert>
    <b-alert v-model="isExist" variant="danger" dismissible>
      Category Already Exist!
    </b-alert>
    </div>
    <template #modal-footer>
    <b-button type="submit" class="btn btn-success"
      @click="saveCategory"
    >
      Save
    </b-button>
    </template>
    </b-modal>
  </div>
   
</template>

<script>
import InventoryDataService from "../services/inventoryServices";

export default {
  name: "inventory-list",
  data() {
    return {
      Inventory: [],
      Category: [],
      CategoryOptions: [],
      currentInventory: null,
      addInventory: {
        Id: null,
        product_name: "",
        sku: "",
        description: "",
        category: "",
        cost: 0,
        selling_price: 0,
        tags: "",
      },
      addCategory:{
        Id: null,
        category_name: "",
        createdBy: "",
        createdDate: "",
      },
      isError: false,
      isExist: false,
      currentIndex: -1,
      title: "",
      totalRows: 1,
      currentPage: 1,
      perPage: 5,
      fields: [
          { key: 'product_name', sortable: true },
          { key: 'description', sortable: true },
          { key: 'category', sortable: true },
          { key: 'selling_price', sortable: true },
          { key: 'actions', label: 'Actions' }
        ],
      pageOptions: [5, 10, 15, { value: 100, text: "Show a lot" }],
      sortBy: '',
      sortDesc: false,
      sortDirection: 'asc',
      filter: null,
      filterOn: [],
      infoModal: {
        id: 'info-modal',
        title: '',
        content: ''
      },
      submitted: false,
      addTagInput:"",
      tagsArr:[]
    }
  },
  methods: {
    info(item, index, button) {
      this.currentInventory = item;
      this.infoModal.title = `Info`
      this.infoModal.content = JSON.stringify(item, null, 2)
      this.$root.$emit('bv::show::modal', this.infoModal.id, button)

      var TagsArray = JSON.parse(this.currentInventory.tags);
      this.tagsArr = TagsArray;
      setTimeout(() => {
        this.tagsArr.forEach((value,key) =>{
          console.log(key)
          this.editnewdisplayTags(value)
        })
      }, 500)
      },
      editnewdisplayTags(string) {
        console.log('text:'+string)
        const div2 = document.createElement('div')
        const span_cross2 = document.createElement('span')
        span_cross2.textContent = '✕'

        const span_text2 = document.createElement('span')
        span_text2.textContent = string
        
        div2.append(span_cross2)
        div2.append(span_text2)
        span_cross2.addEventListener('click', () => {
            span_cross2.parentElement.remove()
            const index = this.tagsArr.indexOf(span_cross2.nextSibling.textContent);
            if (index > -1) { // only splice array when item is found
              this.tagsArr.splice(index, 1); // 2nd parameter means remove one item only
              this.currentInventory.tags=JSON.stringify(this.tagsArr);
            }
          console.log(this.tagsArr);
        })
        document.getElementById('ss_service_edit-tags_container').append(div2)
      },
      resetInfoModal() {
      this.currentInventory = '';
        this.infoModal.title = ''
        this.infoModal.content = ''
        this.$root.$emit('bv::hide::modal')
      },
      onFiltered(filteredItems) {
        // Trigger pagination to update the number of buttons/pages due to filtering
        this.totalRows = filteredItems.length
        this.currentPage = 1
      },
    retrieveInventory() {
      InventoryDataService.getAll()
        .then(response => {
          this.Inventory = response.data;
          console.log(response.data);
        })
        .catch(e => {
          console.log(e);
        });
        
    },
    currentDate() {
          const current = new Date();
          const date = `${current.getMonth()+1}-${current.getDate()}-${current.getFullYear()}`;
          return date;
        },
    refreshList() {
      this.$root.$emit('bv::hide::modal', 'info-modal')
      this.$root.$emit('bv::hide::modal', 'addModal')
      this.retrieveInventory();
      this.currentInventory = null;
      this.currentIndex = -1;
    },
    addProductModal(){
      this.tagsArr=[];
    },
    setActiveInventory(Inventory, index) {
      this.currentInventory = Inventory;
      this.currentIndex = Inventory ? index : -1;
    },
    updateTutorial() {
      InventoryDataService.update(this.currentInventory.id, this.currentInventory)
        .then(response => {
          console.log(response.data);
          this.message = 'The product was updated successfully!';
          this.refreshList();
        })
        .catch(e => {
          console.log(e);
        });
    },

    saveInventory() {
      var data = {
        id:"",
        product_name: this.addInventory.product_name,
        sku: this.addInventory.sku,
        description: this.addInventory.description,
        category: this.addInventory.category,
        cost: this.addInventory.cost,
        selling_price: this.addInventory.selling_price,
        tags: this.addInventory.tags,
      };
      InventoryDataService.create(data)
        .then(response => {
          console.log(this.addInventory);
          console.log(response.data);
          this.message = 'The product was updated successfully!';
          this.refreshList();
        })
        .catch(e => {
          console.log(e);
        });
    },
    deleteTutorial() {
      InventoryDataService.delete(this.currentInventory.id)
        .then(response => {
          console.log(response.data);
          this.refreshList();
        })
        .catch(e => {
          console.log(e);
        });
    },
    checkCategory(){
      if(this.currentInventory.category==='+Add Category'){
        this.$root.$emit('bv::show::modal', 'addCategoryModal')
      }
    },
    checkCategoryAdd(){
      if(this.addInventory.category==='+Add Category'){
        this.$root.$emit('bv::show::modal', 'addCategoryModal')
      }
    },
     retrieveCategory() {
       InventoryDataService.getAllCategory()
         .then(response => {
          this.CategoryItems = response.data;
          this.CategoryOptions.push('+Add Category');
          this.CategoryItems.forEach((value, index) => {
            console.log(index)
              this.CategoryOptions.push(value.category_name);
          });
          console.log(this.CategoryOptions);
           console.log(response.data);
         })
         .catch(e => {
           console.log(e);
         });
     },
     saveCategory() {
      var check = this.CategoryOptions.includes(this.addCategory.category_name);
      if(this.addCategory.category_name == ''){
        this.isError = true;
      }
      if(check){
        this.isExist = true;
      }else{
        this.isExist = false;
      var data = {
        id:"",
        category_name: this.addCategory.category_name,
        createdBy: this.addCategory.createdBy,
        createdDate: this.currentDate(),
      };
      InventoryDataService.createCategory(data)
        .then(response => {
          console.log(response.data);
          this.$root.$emit('bv::hide::modal','addCategoryModal');
          this.message = 'The Category was added successfully!';
          this.CategoryOptions.push(this.addCategory.category_name);
          this.currentInventory.category = this.addCategory.category_name;
          this.addInventory.category = this.addCategory.category_name;
        })
        .catch(e => {
          console.log(e);
        });
      }
    },
    // removeAllInventory() {
    //   InventoryDataService.deleteAll()
    //     .then(response => {
    //       console.log(response.data);
    //       this.refreshList();
    //     })
    //     .catch(e => {
    //       console.log(e);
    //     });
    // },
    
    searchTitle() {
      InventoryDataService.findByTitle(this.title)
        .then(response => {
          this.Inventory = response.data;
          this.setActiveInventory(null);
          console.log(response.data);
        })
        .catch(e => {
          console.log(e);
        });
    },
    
    addTags() {
      
        if (this.addTagInput.length < 1) {
            return
        }
        this.displayTags(this.addTagInput)
        this.addTagInput = ''
    },
    displayTags(string) {
        const div = document.createElement('div')
        const span_cross = document.createElement('span')
        span_cross.textContent = '✕'

        const span_text = document.createElement('span')
        span_text.textContent = string

        div.append(span_cross)
        div.append(span_text)
        this.tagsArr.push(string)

        span_cross.addEventListener('click', () => {
            span_cross.parentElement.remove()
            const index = this.tagsArr.indexOf(span_cross.nextSibling.textContent);
            if (index > -1) { // only splice array when item is found
              this.tagsArr.splice(index, 1); // 2nd parameter means remove one item only
              this.addInventory.tags=JSON.stringify(this.tagsArr);
            }
          console.log(this.tagsArr);
        })
        // this.tagsArr=arr;
        this.addInventory.tags=JSON.stringify(this.tagsArr);
        document.getElementById('ss_service_add-tags_container').append(div)
      },
      editaddTags() {
        
          if (this.addTagInput.length < 1) {
              return
          }
          this.editdisplayTags(this.addTagInput)
          this.addTagInput = ''
      },
      editdisplayTags(string) {
          const div = document.createElement('div')
          const span_cross = document.createElement('span')
          span_cross.textContent = '✕'

          const span_text = document.createElement('span')
          span_text.textContent = string

          div.append(span_cross)
          div.append(span_text)
          this.tagsArr.push(string)
          // var arr = this.tagsArr;
          span_cross.addEventListener('click', () => {
              span_cross.parentElement.remove()
              const index = this.tagsArr.indexOf(span_cross.nextSibling.textContent);
              if (index > -1) { // only splice array when item is found
                this.tagsArr.splice(index, 1); // 2nd parameter means remove one item only
                this.currentInventory.tags=JSON.stringify(this.tagsArr);
              }
            console.log(this.tagsArr);
          })
          // this.tagsArr=arr;
          this.currentInventory.tags=JSON.stringify(this.tagsArr);
          document.getElementById('ss_service_edit-tags_container').append(div)
        }
  },
  mounted() {
    this.retrieveInventory();
    this.retrieveCategory();
  }
};
</script>

<style>
.list {
  text-align: left;
  max-width: 750px;
  margin: auto;
}
</style>
        
