
.hidden{
  display: none;
}
.tags_input_container {
    display: flex;
    align-items: center;
    border: 1px solid #e9e9e9;
    background-color: #fff;
    box-shadow: 0 1px 3px 0px rgba(0, 0, 0, 0.08);
    width: 100%;
    border-radius: 0.5rem;
  }
  .tags_input_container input {
    width: 100%;
    border: 0;
  }
  .tags_input_container input:focus {
    border: none;
    outline: none;
  }
  .tags_input_container button {
    flex-shrink: 0;
    padding: 0;
    width: 2rem;
    height: 2rem;
    margin-right: 0.2rem;
    border-radius: 0.4rem;
  }
  .tags_input_container button:focus {
    outline: none;
  }
  .tags_input_container button:after {
    line-height: 2rem;
    content: "+";
    font-size: 1.25rem;
    position: relative;
  }
  
  .tags {
    margin-top: 0.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  .tags div:not([class*=container]) {
    flex-shrink: 0;
    display: inline-flex;
    box-sizing: border-box;
    padding: 0.5rem 0.75rem 0.5rem 0.75rem;
    color: #2c629f;
    font-weight: 300;
    border-radius: 0.5rem;
    background-color: rgba(0, 0, 139, 0.12);
    align-items: center;
    margin-bottom: 0.5rem;
    margin-right: 0.5rem;
  }
  .tags.main {
    font-size: 12px;
    gap: 4px;
    width: 100%;
    display: flex;
    justify-content: row;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    gap: 4px;
    overflow: hidden;
    padding-bottom: 4px;
  }
  .tags.main div.container {
    width: auto;
    display: flex;
    gap: 4px;
    flex-wrap: nowrap;
  }
  .tags.main div.container div {
    font-weight: 400;
    margin: 0;
    padding: 0.5rem;
  }
  .tags.editable div span:first-child {
    font-size: 14px;
    font-weight: 700;
    margin-right: 0.5rem;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
  .tags.selectable {
    cursor: pointer;
  }